[submodule "classes/comp122/class-material"]
	path = classes/comp122/class-material
	url = git@github.com:COMP122/comp122-s22.git
[submodule "mars-mips"]
	path = mars-mips
	url = https://github.com/COMP122/mars-mips.git
[submodule "classes/comp122/deliverables/30-quiz-digital-logic-MattEngler7"]
	path = classes/comp122/deliverables/30-quiz-digital-logic-MattEngler7
	url = https://github.com/COMP122/30-quiz-digital-logic-MattEngler7
[submodule "classes/comp122/deliverables/31-digital-logic-MattEngler7"]
	path = classes/comp122/deliverables/31-digital-logic-MattEngler7
	url = https://github.com/COMP122/31-digital-logic-MattEngler7
[submodule "classes/comp122/deliverables/42-conversions-MattEngler7"]
	path = classes/comp122/deliverables/42-conversions-MattEngler7
	url = https://github.com/COMP122/42-conversions-MattEngler7
[submodule "01-first-assignment-MattEngler7"]
	path = 01-first-assignment-MattEngler7
	url = git@github.com:COMP122/01-first-assignment-MattEngler7.git
[submodule "31-digital-logic-MattEngler7"]
	path = 31-digital-logic-MattEngler7
	url = git@github.com:COMP122/31-digital-logic-MattEngler7.git
